<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-css-reset/dist/reset.min.css"
    />
    <link rel="stylesheet" href="style.css" type="text/css" />

    <title>Statementflow</title>
  </head>

  <body>
    <nav class="main-nav">
      <h2>SF</h2>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="worksheets.html">Worksheets</a></li>
      </ul>
    </nav>
    <header>
      <h1>Statementflow</h1>
      <h2>Simplify financial statements creation.</h2>
    </header>
    <main>
      <div class="grid-wrapper">
        <section class="col span4">
          <h2>What is 'Statementflow'?</h2>
          <p>
            A tool to create 'Financial Statement Worksheet' templates and use
            them to generate financial statements for clients. Use Worksheets
            designed to gather the necessary information to prepare financial
            statements. Use stored forms to generate a financial statement by
            filling the fields with your client's financial data.
          </p>
        </section>
        <section class="col span4">
          <h2>Create a new statement</h2>
          <p>Use a GAAP worksheet template to generate a new statement.</p>
        </section>
        <section class="col span4">
          <h2>Create your account</h2>
          <p>Create an account or login to begin.</p>
          <form>
            <fieldset class="stack">
              <label for="email"
                ><p>Email:</p>
                <input type="email" name="email" id="email"
              /></label>
              <label for="username"
                ><p>Username:</p>
                <input type="text" name="username" id="username"
              /></label>
              <label for="password"
                ><p>Password:</p>
                <input type="password" name="password" id="password"
              /></label>
            </fieldset>
          </form>
        </section>
      </div>
    </main>
    <footer class="col span4">
      <h2>Footer</h2>
    </footer>
  </body>
</html>
