<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-css-reset/dist/reset.min.css"
    />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <title>Statementflow - Statement</title>
  </head>
  <body>
    <nav class="main-nav">
      <h2>SF</h2>
      <ul>
        <li>Home</li>
        <li>Worksheets</li>
        <li>Login</li>
      </ul>
    </nav>
    <header>
      <h2>Statement</h2>
    </header>
    <main class="grid-wrapper">
      <section class="col span4">
        <h3>UNDERSTANDING OF THE INDIVIDUAL’S FINANCIAL ACTIVITIES</h3>
        <form action="">
          <fieldset>
            <label for="question1">
              <p>What are the primary sources of revenues and expenditures?</p>
              <input type="text" name="question1" id="question1" />
            </label>
          </fieldset>
        </form>
      </section>
      <section class="col span4">
        <h3>CASH</h3>
        <form action="">
          <fieldset>
            <label for="">
              <p>
                Record the individual’s checkbook or passbook balance in all
                bank accounts as of the financial statement date. If possible,
                obtain copies of bank reconciliations.
              </p>
            </label>
            <table contenteditable="true">
              <thead>
              <tr>
                <th>Bank Name</th>
                <th>Account Title</th>
                <th>Statement Date</th>
                <th>Restricted Yes/No</th>
                <th>Reconciled Balance</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
                <td>0.00</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>0.00</td>
              </tr>
              </tbody>
            </table>
          </fieldset>
        </form>
      </section>
    </main>
  </body>
</html>
